.speech 
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: balck;
}

.stage-direction
{
    font-family: cursive;
    font-size: larger;
    background-color: lightseagreen;
    color: balck;
}

.name
{
    font-family: sans-serif;
    font-size: larger;
    color: black;
}

.stage-direction:hover
{
    background-color: cadetblue;
    color: crimson;
}

.countess
{
    color:darkgoldenrod;
}

.clown
{
    color:deepskyblue;
}

.FirstGentleman
{
   color: greenyellow;
}

.Secondgentleman
{
   color:hotpink;
}

.helena
{
    color: olivedrab;
}


table
{
    border-style: dotted;
    color: peachpuff;
   text-align: center;
   padding: 10mm;
   margin: 10mm;
}

.name:hover
{
    text-shadow:2px 3px 5px plum;
    border: green;
    border: dotted;
    
}

.navBar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navBar a {
    float: left;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navBar a:hover {
    background-color:red;
    color: black;
  }
  
  .navBar a.active {
    background-color: #3d1abb;
    color: white;
  }